/* VARIABLES */
$main-font-family: "Montserrat", "Arial", sans-serif;
$body-bg : #fff;
$main-font-weight: 500;
$main-text-color: #000;
$main-desc-color: #555;
$site-main-color: #299764;
$card-bg-color: #f5f5f5;
/* ROOT */
:root{
    --main-font-family: #{$main-font-family};
    --main-font-weight: #{$main-font-weight}; 
    --main-body-bg-color: #{$body-bg};
    --main-text-color: #{$main-text-color};
    --main-desc-color: #{$main-desc-color};
    --site-main-color: #{$site-main-color};
    --card-bg-color: #{$card-bg-color};
}